# HYBRID FILTERING ( CB -> CF )
***
# <center> Tunggal Manda Ary Triyono
# ---------------------------------------------------------------------------------------------------------------

# Input user yang akan dicari rekomendasinya

In [1]:
USER_NAME = 'Hania'

# Import Library

In [2]:
import pandas as pd
from math import sqrt

# ------------------------------------------- DATASET CF --------------------------------------------

# Import Dataset Colaborative Filtering

In [3]:
df_cf = pd.read_csv('../data/film2.csv')

# Menjadikan nama penonton sebagai index

In [4]:
df_cf.set_index('Nama Anda', inplace=True)

# Menyimpan nama film yang ada pada dataset

In [5]:
film = list(df_cf.columns.values)

# Transpose dataset

In [6]:
df_cf = df_cf.transpose()
df_cf.head(3)

Nama Anda,Hania,Topik Zulkarnain,AhokTemanFirli,franadek,OM INDRA,Mulya,Genjeh,faizah,Dpv,Putrisqiana,...,bunga,Jawaharal,Febi ganteng gak ada obat,Star,Indra Junior,Indra 1991 SM,Damar Teman Firli,jul,luck,Maria O.
Ada Apa dengan Cinta 2,3,0,0,4,3,0,5,3,5,4,...,0,2,4,4,4,0,5,0,3,0
Gundala,5,0,0,4,0,0,4,0,4,3,...,4,4,3,4,0,5,0,3,0,0
Dilan 1991,4,0,0,4,2,0,3,5,4,2,...,4,3,4,0,0,0,0,0,0,0

# Movie yang sudah ditonton user

In [7]:
mov_watched = df_cf.loc[df_cf[USER_NAME] != 0]
mov_watched=mov_watched.reset_index()
mov_watched = mov_watched['index'].tolist()
mov_watched

['Ada Apa dengan Cinta 2',
 'Gundala',
 'Dilan 1991',
 'Bumi Manusia',
 'Dua Garis Biru']

# Movie yang belum ditonton user

In [8]:
mov_unwatched = df_cf.loc[df_cf[USER_NAME] == 0]
mov_unwatched=mov_unwatched.reset_index()
mov_unwatched = mov_unwatched['index'].tolist()
mov_unwatched

['Avengers: End Game',
 'The Lion King',
 'Aladin',
 'Spiderman: Far From Home',
 'Captain Marvel']

# ------------------------------------------- DATASET CB --------------------------------------------

# Import Dataset Content Based Filtering

In [9]:
df_cb = pd.read_csv('../data/apa3.csv')
df_cb

                      movie     negara  rating  durasi      genre  tahun
0    Ada Apa dengan Cinta 2  Indonesia     7.4     123      Drama   2016
1                   Gundala  Indonesia     7.6     123     Action   2019
2                Dilan 1991  Indonesia     6.8     121      Drama   2019
3             Bumi Manusia   Indonesia     7.2     181      Drama   2019
4            Dua Garis Biru  Indonesia     8.2     113      Drama   2019
5        Avengers: End Game        USA     8.6     181     Action   2019
6             The Lion King        USA     7.1     118  Animation   2019
7                    Aladin        USA     7.1     128  Adventure   2019
8  Spiderman: Far From Home        USA     7.8     129     Action   2019
9            Captain Marvel        USA     7.0     123     Action   2019

# ------------------------------------------- PROSES CB --------------------------------------------

# Menjadikan nama movie sebagai index

In [10]:
df_cb.set_index('movie', inplace=True)
df_cb

                             negara  rating  durasi      genre  tahun
movie
Ada Apa dengan Cinta 2    Indonesia     7.4     123      Drama   2016
Gundala                   Indonesia     7.6     123     Action   2019
Dilan 1991                Indonesia     6.8     121      Drama   2019
Bumi Manusia              Indonesia     7.2     181      Drama   2019
Dua Garis Biru            Indonesia     8.2     113      Drama   2019
Avengers: End Game              USA     8.6     181     Action   2019
The Lion King                   USA     7.1     118  Animation   2019
Aladin                          USA     7.1     128  Adventure   2019
Spiderman: Far From Home        USA     7.8     129     Action   2019
Captain Marvel                  USA     7.0     123     Action   2019

# Mengencoder kolom yang bertipe object

In [11]:
from sklearn.preprocessing import LabelEncoder
#df['movie'] = LabelEncoder().fit_transform(df['movie2'])
df_cb['negara'] = LabelEncoder().fit_transform(df_cb['negara'])
df_cb['genre'] = LabelEncoder().fit_transform(df_cb['genre'])
df_cb.head()

                        negara  rating  durasi  genre  tahun
movie
Ada Apa dengan Cinta 2       0     7.4     123      3   2016
Gundala                      0     7.6     123      0   2019
Dilan 1991                   0     6.8     121      3   2019
Bumi Manusia                 0     7.2     181      3   2019
Dua Garis Biru               0     8.2     113      3   2019

# MinMax Scaler

In [12]:
from sklearn.preprocessing import MinMaxScaler
col2 = df_cb.columns
scaler = MinMaxScaler().fit_transform(df_cb)
df3 = pd.DataFrame(scaler, columns = col2)
df3

   negara    rating    durasi     genre  tahun
0     0.0  0.333333  0.147059  1.000000    0.0
1     0.0  0.444444  0.147059  0.000000    1.0
2     0.0  0.000000  0.117647  1.000000    1.0
3     0.0  0.222222  1.000000  1.000000    1.0
4     0.0  0.777778  0.000000  1.000000    1.0
5     1.0  1.000000  1.000000  0.000000    1.0
6     1.0  0.166667  0.073529  0.666667    1.0
7     1.0  0.166667  0.220588  0.333333    1.0
8     1.0  0.555556  0.235294  0.000000    1.0
9     1.0  0.111111  0.147059  0.000000    1.0

***
MinMax Scaler digunakan untuk mentransform features menjadi nilai yang biasanya nilainya range 0 sampai 1
<br>Hal ini dimaksudkan agar nilai yang ada pada semua feature tidak berbeda jauh gapnya
***

# Consine Similarity

In [13]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

df_c = cosine_similarity(df3)

In [15]:
df_sim = pd.DataFrame(df_c,columns = film)
df_sim['movie'] = film
df_sim.set_index('movie', inplace=True)
df_sim

,Ada Apa dengan Cinta 2,Gundala,Dilan 1991,Bumi Manusia,Dua Garis Biru,Avengers: End Game,The Lion King,Aladin,Spiderman: Far From Home,Captain Marvel
movie,,,,,,,,,,
Ada Apa dengan Cinta 2,1.000000,0.144470,0.673554,0.657041,0.733081,0.225684,0.437565,0.267656,0.134312,0.038648
Gundala,0.144470,1.000000,0.649243,0.646132,0.755115,0.720689,0.624218,0.677560,0.754866,0.680128
Dilan 1991,0.673554,0.649243,1.000000,0.854545,0.873210,0.393788,0.750009,0.647618,0.471001,0.502649
Bumi Manusia,0.657041,0.646132,0.854545,1.000000,0.770944,0.636285,0.646577,0.615991,0.506069,0.470497
Dua Garis Biru,0.733081,0.755115,0.873210,0.770944,1.000000,0.550743,0.707068,0.612852,0.577099,0.471983
Avengers: End Game,0.225684,0.720689,0.393788,0.636285,0.550743,1.000000,0.711603,0.807031,0.907574,0.791688
The Lion King,0.437565,0.624218,0.750009,0.646577,0.707068,0.711603,1.000000,0.973431,0.871803,0.903988
Aladin,0.267656,0.677560,0.647618,0.615991,0.612852,0.807031,0.973431,1.000000,0.943023,0.972312
Spiderman: Far From Home,0.134312,0.754866,0.471001,0.506069,0.577099,0.907574,0.871803,0.943023,1.000000,0.956011
Captain Marvel,0.038648,0.680128,0.502649,0.470497,0.471983,0.791688,0.903988,0.972312,0.956011,1.000000

***
Consine similarity digunakan untuk mencari similarity setiap movie berdasarkan feature feature yang ada pada setiap movie
<br> semakin mendekati 1 nilai similaritynya berarti kedua movie tersebut sangat berkorelasi 
***

# Similarity antara movie yang sudah dan belum ditonton

In [16]:
df_sim = df_sim.drop(mov_unwatched, axis=1)
df_sim = df_sim.loc[mov_unwatched]

In [17]:
df_sim

,Ada Apa dengan Cinta 2,Gundala,Dilan 1991,Bumi Manusia,Dua Garis Biru
movie,,,,,
Avengers: End Game,0.225684,0.720689,0.393788,0.636285,0.550743
The Lion King,0.437565,0.624218,0.750009,0.646577,0.707068
Aladin,0.267656,0.677560,0.647618,0.615991,0.612852
Spiderman: Far From Home,0.134312,0.754866,0.471001,0.506069,0.577099
Captain Marvel,0.038648,0.680128,0.502649,0.470497,0.471983

# Rata-Rata similarity

In [18]:
df_sim ['mean'] = df_sim.mean(axis=1)

***
Rata-Rata disini merupakan rata rata similarity dari movie yang belum ditonton dengan movie movie yang sudah ditonton sebelumnya oleh user
***

# Hasil CB Filtering

In [19]:
cb_result = df_sim[['mean']]
cb_result = cb_result.reset_index().sort_values(by='mean', ascending=False)
cb_result = cb_result.head(3)
cb_result

                movie      mean
1       The Lion King  0.633087
2              Aladin  0.564336
0  Avengers: End Game  0.505438

***
Hasil Dari **Content Based Filtering** adalah user direkomendasikan untuk menonton film **The Lion King** kemudian Aladin dan 	Avengers: End Game
***

# ------------------------------------------- PROSES CF --------------------------------------------

# Korelasi antar penonton film

In [20]:
df_corr = df_cf.corr(method ='pearson') 
df_corr.head()

Nama Anda,Hania,Topik Zulkarnain,AhokTemanFirli,franadek,OM INDRA,Mulya,Genjeh,faizah,Dpv,Putrisqiana,...,bunga,Jawaharal,Febi ganteng gak ada obat,Star,Indra Junior,Indra 1991 SM,Damar Teman Firli,jul,luck,Maria O.
Nama Anda,,,,,,,,,,,,,,,,,,,,,
Hania,1.000000,-0.741027,-0.481843,-0.325300,-0.339788,-0.905908,-0.309524,0.451097,-0.105381,0.213478,...,-0.667458,-0.502906,-0.404762,-0.505830,-0.845447,0.487950,-0.319438,-0.532397,-0.303770,-0.484228
Topik Zulkarnain,-0.741027,1.000000,0.394996,0.142374,0.295226,0.567809,0.023157,-0.213100,0.209087,0.065255,...,0.588579,0.421870,0.115785,0.311580,0.588579,-0.253109,0.434959,0.497096,0.315142,0.277343
AhokTemanFirli,-0.481843,0.394996,1.000000,0.188092,0.550113,0.414680,0.344173,-0.012420,0.469181,0.326222,...,0.382716,0.231720,0.344173,0.469181,0.382716,-0.164581,0.138527,0.323230,0.668420,-0.244988
franadek,-0.325300,0.142374,0.188092,1.000000,-0.324967,0.464140,0.325300,0.117393,-0.043193,0.041667,...,0.258378,-0.257663,0.325300,0.316752,-0.045596,-0.111111,0.145479,-0.145479,0.253629,0.202150
OM INDRA,-0.339788,0.295226,0.550113,-0.324967,1.000000,0.316025,0.294483,0.138971,0.505311,0.528071,...,0.046568,0.472487,0.385093,-0.116302,0.554587,-0.402340,0.526787,0.283654,0.500948,-0.496529

# Korelasi antara user dan penonton lainnya

In [21]:
user_corr = df_corr[[USER_NAME]].loc[(df_corr[USER_NAME]>0) & (df_corr[USER_NAME]<1)]
user_corr

Nama Anda         Hania
Nama Anda
faizah         0.451097
Putrisqiana    0.213478
Romantika      0.365963
Indra 1991 SM  0.487950

***
korelasi yang dipilih hanya dengan penonton lain yang korelasinya positif, artinya memang berkorelasi dengan user
***

# Melihat rating yang diberikan oleh penonton yang berkorelasi dengan user

In [22]:
user_cor_rat = df_cf
user_cor_rat = user_cor_rat.loc[user_cor_rat[USER_NAME] == 0]
user_cor_rat = user_cor_rat.transpose()
user_cor_rat[USER_NAME] = user_corr
user_cor_rat = user_cor_rat.dropna()
user_cor_rat = user_cor_rat.drop([USER_NAME], axis=1)
user_cor_rat

,Avengers: End Game,The Lion King,Aladin,Spiderman: Far From Home,Captain Marvel
Nama Anda,,,,,
faizah,5,0,0,0,0
Putrisqiana,5,0,0,4,3
Romantika,0,0,0,0,0
Indra 1991 SM,0,0,0,0,0

# Prediksi rating tiap film yang belum ditonton user

In [23]:
sim_rat = (user_cor_rat.transpose()).dot(user_corr)
rating = []
l = len(sim_rat)
for i in range(l):
    a = sim_rat.iloc[i,0] / user_corr[USER_NAME].sum()
    rating.append(a)
    #print(rating)

rating
apa = {'rating': rating} 
result = pd.DataFrame(apa)
result

     rating
0  2.188279
1  0.000000
2  0.000000
3  0.562344
4  0.421758

***
Rating ini didapatkan dengan cara mengalikan rating yang diberikan tiap penonton lain dengan korelasinya dengan user dibagi dengan nilai total korelasi penonton lain yang berkorelasi dengan user
<br>
<br>
\begin{equation*}
RatingMovie1 = \frac{(CorelationPenonton1 * RatingMovie1OlehPenonton1)+(CorelationPenonton2 * RatingMovie1OlehPenonton2)...}{total(CorelationSemuaPenontonYangBerkorelasiDenganUser)}
\end{equation*}
***

# Menggabungkan movie yang belum ditonton user dan prediksi ratingnya

In [24]:
col_user = user_cor_rat.transpose()
col_user = col_user.reset_index()
col_user = col_user[['index']]
col_user.columns = ['movie']

In [25]:
cf_result = col_user.join(result, how='outer')
cf_result = cf_result.sort_values(by = 'rating', ascending = False)
cf_result = cf_result.head(3)
cf_result

                      movie    rating
0        Avengers: End Game  2.188279
3  Spiderman: Far From Home  0.562344
4            Captain Marvel  0.421758

***
Movie yang direkomendasikan oleh colaborative filtering adalah **Avengers: End Game**, **Spiderman: Far From Home**, **Captain Marvel**
***

# Hasil Rekomendasi Akhir

In [26]:
final_result = pd.merge(cb_result, cf_result, how='inner', on='movie')
final_result = final_result[final_result.rating != 0]

In [27]:
final_result = final_result['movie'].tolist()
print ('Film yang direkomendasikan kepada', USER_NAME,'adalah', final_result)

Film yang direkomendasikan kepada Hania adalah ['Avengers: End Game']

# Kesimpulan
Hasil dari Collaborative Filtering dan Content Based Filtering akan digabungkan dan di lihat movie mana yang sama sama direkomendasikan oleh kedua algoritma tersebut. movie yang sama tersebutlah yang direkomendasikan untuk user.
<br> Pada case ini, movie yang direkomendasikan kepada user menggunakan hybrid filtering adalah **Avengers: End Game**